.PlanetTable {
    border-collapse: collapse;
    margin: 0 auto;
}

.PlanetTable th, td {
    border: 1px solid lightgray;
}

.PlanetTable th, td {
    padding: 1em 0.5em;
}

.PlanetTable th {
    background: #222;
    color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
